body{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}
h1{
color: white; 
text-shadow: 2px 2px 4px #000000; 
font-size: 50px;
}
h2{
color: white; 
text-shadow: 2px 2px 4px #000000; 
font-size: 30px;
}
#resultScore{
    height: 10%;
    width: 100%;
    display: flex;
    grid-column: 1fr 1fr;
}
#resultGamer{
    width: 100%;
    grid-column-start:1 ;
    grid-column-end: 2;
}
#resultComputer{
    width: 100%;
    grid-column-start:1 ;
    grid-column-end: 2;
}
#ScoreGamer{
    position: relative;
    margin-left: 48%;
}
#ScoreComputer{
    position: relative;
    margin-left: 48%;
}



#conteiner{
    width: 100vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
}
#Gamer{
    background-color: blueviolet;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items:center;
    justify-content: end;
}
#gamer-choose{
    background-color: rgb(15, 110, 194);
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: center;
    border: 5px solid white;
    border-radius: 5%;
    box-shadow: 20px 10px 5px rgb(118, 148, 158);
    margin-right: 10%;
    
    
}
#emoticon{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items:center;
    
}
#face{
    height: 40%;
    width: 100%;
    
}



#Computer{
    background-color: blueviolet;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    align-items:center;
    justify-content:start;
}
#computer-choose{
    background-color:rgb(15, 110, 194);
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: center;
    border: 5px solid white;
    border-radius: 5%;
    box-shadow: 20px 10px 5px rgb(118, 148, 158);
    margin: 10%;
}



#choose{
    margin-top:30px ;
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}
#img{
    height: 60%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 100px;
    
}
button{
    position: relative;
    top: 1vh;
    height: 20px;
    width: 60px;
    margin-left: 48%;
    margin-top: 20px;
}